<div class='page-wrapper diptyque-page'>

	<div class="fun-fact-wrapper">
		<div class="video-wrapper"></div>
		<div class="message-wrapper">
			<div class="message-inner">
				{{{fact-txt}}}
			</div>
		</div>
		<div class="cursor-cross">
			<svg width="100%" viewBox="0 0 14.105 13.828">
				<polygon fill="#ffffff" points="13.946,0.838 13.283,0.156 7.035,6.25 0.839,0.156 0.173,0.834 6.37,6.931 0.159,12.99 0.823,13.671 7.07,7.578 13.266,13.671 13.932,12.994 7.736,6.896 "/>
			</svg>
		</div>
	</div>

	<div class="main-btns-wrapper">
		<div id='shop-btn' class='main-btn'>
			<div class="img-wrapper"></div>
		</div>
		<div id='fun-fact-btn' class='main-btn'>
			<div class="img-wrapper"></div>
		</div>
	</div>

	<div class="selfie-stick-wrapper">
		<div class="screen-wrapper">
			<div class="colorifier">
				<svg width="100%" viewBox="0 0 100 22">
					<path d="M4.6,1.25c0.001,0,0.045-0.006,0.08,0h0.032c1.212,0.003,36.706-1,36.706-1l25.471,0.549c0.086,0.002,0.172,0.007,0.258,0.017l1.486,0.166C68.711,0.989,68.773,1,68.836,1.036l0.324,0.199c0.052,0.032,0.11,0.049,0.171,0.05l27.043,0.469c0,0,2.624-0.077,2.624,2.933l-0.692,7.96c-0.045,0.518-0.479,0.916-0.999,0.916h-6.203c-0.328,0-0.653,0.034-0.975,0.1c-0.853,0.175-2.83,0.528-5.263,0.618c-0.342,0.014-0.661,0.181-0.872,0.451l-0.5,0.645l-0.28,0.358c-0.374,0.482-0.647,1.034-0.789,1.628c-0.32,1.345-1.398,3.952-4.924,3.958c-3.974,0.005-7.685-0.113-10.612-0.225c-1.189-0.044-2.96,0.229-2.855-1.629l0.36-5.94c0.014-0.219-0.157-0.404-0.376-0.409L29.62,12.488c-0.214-0.004-0.428,0.001-0.641,0.015l-1.753,0.113c-0.208,0.013-0.407,0.085-0.574,0.21c-0.557,0.411-1.897,1.392-2.667,1.859c-0.701,0.426-1.539,1.042-1.968,1.364c-0.183,0.137-0.309,0.335-0.358,0.558l-0.317,1.425c-0.044,0.202-0.004,0.413,0.113,0.583l0.613,0.896c0.212,0.311,0.297,0.699,0.188,1.059c-0.115,0.378-0.444,0.755-1.292,0.755h-7.957c-0.425,0-0.848-0.04-1.266-0.12c-2.543-0.486-10.846-2.661-10.846-10.36C0.896,3.375,4.459,1.25,4.6,1.25"/>
				</svg>
			</div>
			<div class="screen-holder"></div>
			<div class="video-holder"></div>
		</div>
		<div class="background"></div>
	</div>

	<div class="arrows-wrapper">
		<a href="#/{{previous-page}}" id='left' class="arrow left">
			
			<div class="icons-wrapper">
				<svg width="100%" viewBox="0.456 0.644 7.957 14.202">
					<polygon points="7.627,0.831 8.307,1.529 1.952,7.727 8.293,13.965 7.61,14.658 0.561,7.724 "/>
				</svg>
			</div>

			<div class="background" style="background-image: url({{previous-preview-url}})"></div>

		</a>
		<a href="#/{{next-page}}" id='right' class="arrow right">

			<div class="icons-wrapper">
				<svg width="100%" viewBox="0.456 0.644 7.957 14.202">
					<polygon points="1.24,14.658 0.561,13.96 6.915,7.762 0.575,1.525 1.257,0.831 8.307,7.765 "/>
				</svg>
			</div>

			<div class="background" style="background-image: url({{next-preview-url}})"></div>
		</a>
	</div>

</div>