<div class='page-wrapper home-page'>
	<div class="grid-background-container"></div>
	<div class="grid-front-container">
		{{#grid}}
			<div></div>
		{{/grid}}
	</div>
	<div class="grid-container">
		{{#grid}}
			<div></div>
		{{/grid}}
	</div>
	<div class="lines-grid-container">
		<div class="horizontal-lines">
			{{#lines-grid}}
				{{#horizontal}}
					<div></div>
				{{/horizontal}}	
			{{/lines-grid}}
		</div>
		<div class="vertical-lines">
			{{#lines-grid}}
				{{#vertical}}
					<div></div>
				{{/vertical}}	
			{{/lines-grid}}
		</div>
	</div>
	<div class="bottom-texts-container">
		{{! <div class="left-text">
			<div class="front-wrapper"> }}
				{{! {{text_a}}
			{{! </div>
			<div class="background"></div>
		</div> }}
		{{! <div class="right-text">
			<div class="front-wrapper"> }}
				{{! <div class="vision">{{a_vision}}
			{{! 	<div class="logo">
					<img src="image/logo-mallorca.png">
				</div>
			</div>
			<div class="background"></div> }}
		{{! </div> }}

		<div class="titles-wrapper">
			<ul>
				<li id='deia'>DEIA</li>
				<li id='arelluf'>ARELLUF</li>
				<li id='es-trenc'>ES TRENC</li>
			</ul>
		</div>

		<div class="texts-wrapper">
			<div class='txt' id="generic">{{{generic}}}</div>
			<div class='txt' id="deia">{{{deia-txt}}}</div>
			<div class='txt' id="arelluf">{{{arelluf-txt}}}</div>
			<div class='txt' id="es-trenc">{{{es-trenc-txt}}}</div>
		</div>

		<div id="social-wrapper">
			<ul>
				<li class='instagram'>
					<a target="_blank" href="{{instagramUrl}}">
						<svg version="1.1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve"><path sketch:type="MSShapeGroup" fill="#00EB76" d="M16.107,15.562c0,0.302-0.243,0.547-0.543,0.547H2.438c-0.302,0-0.547-0.245-0.547-0.547V7.359h2.188c-0.285,0.41-0.381,1.175-0.381,1.661c0,2.929,2.388,5.312,5.323,5.312c2.935,0,5.322-2.383,5.322-5.312c0-0.486-0.066-1.24-0.42-1.661h2.186V15.562L16.107,15.562z M9.02,5.663c1.856,0,3.365,1.504,3.365,3.358c0,1.854-1.509,3.357-3.365,3.357c-1.857,0-3.365-1.504-3.365-3.357C5.655,7.167,7.163,5.663,9.02,5.663L9.02,5.663z M12.828,2.984c0-0.301,0.244-0.546,0.545-0.546h1.643c0.3,0,0.549,0.245,0.549,0.546v1.641c0,0.302-0.249,0.547-0.549,0.547h-1.643c-0.301,0-0.545-0.245-0.545-0.547V2.984L12.828,2.984z M15.669,0.25H2.33c-1.148,0-2.08,0.929-2.08,2.076v13.349c0,1.146,0.932,2.075,2.08,2.075h13.339c1.15,0,2.081-0.93,2.081-2.075V2.326C17.75,1.179,16.819,0.25,15.669,0.25L15.669,0.25z"/>
					</a>
				</li>
				<li class='twitter'>
					<a target="_blank" href="{{twitterUrl}}">
						<svg version="1.1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" viewBox="0 0 22 18" enable-background="new 0 0 22 18" xml:space="preserve"><path sketch:type="MSShapeGroup" fill="#00EB76" d="M21.176,0.514c-0.854,0.509-1.799,0.879-2.808,1.079c-0.805-0.865-1.953-1.405-3.226-1.405c-2.438,0-4.417,1.992-4.417,4.449c0,0.349,0.038,0.688,0.114,1.013C7.166,5.464,3.91,3.695,1.729,1c-0.38,0.66-0.598,1.425-0.598,2.24c0,1.543,0.78,2.904,1.966,3.704C2.374,6.92,1.691,6.718,1.094,6.388v0.054c0,2.157,1.523,3.957,3.547,4.363c-0.371,0.104-0.762,0.157-1.165,0.157c-0.285,0-0.563-0.027-0.833-0.08c0.563,1.767,2.194,3.054,4.128,3.089c-1.512,1.194-3.418,1.906-5.489,1.906c-0.356,0-0.709-0.021-1.055-0.062c1.956,1.261,4.28,1.997,6.775,1.997c8.131,0,12.574-6.778,12.574-12.659c0-0.193-0.004-0.387-0.012-0.577c0.864-0.627,1.613-1.411,2.204-2.303c-0.791,0.354-1.644,0.593-2.537,0.701C20.146,2.424,20.847,1.553,21.176,0.514"/>
					</a>
				</li>
				<li class='facebook'>
					<a target="_blank" href="{{facebookUrl}}">
						<svg version="1.1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve"><path sketch:type="MSShapeGroup" fill="#00EB76" d="M17.719,16.756c0,0.531-0.431,0.963-0.962,0.963h-4.443v-6.753h2.267l0.338-2.631h-2.604V6.654c0-0.762,0.211-1.281,1.304-1.281l1.394,0V3.019c-0.241-0.032-1.068-0.104-2.031-0.104c-2.009,0-3.385,1.227-3.385,3.479v1.941H7.322v2.631h2.272v6.753H1.243c-0.531,0-0.962-0.432-0.962-0.963V1.243c0-0.531,0.431-0.962,0.962-0.962h15.514c0.531,0,0.962,0.431,0.962,0.962V16.756"/>
					</a>
				</li>
			</ul>
		</div>

		<div class="background"></div>
	</div>
	<div class="around-border-container">
		<div class="top"></div>
		<div class="bottom"></div>
		<div class="left"></div>
		<div class="right"></div>
	</div>
	<div class="around-border-letters-container">
		<div class="top">
			<div>a</div>
			<div>b</div>
			<div>c</div>
			<div>d</div>
			<div>e</div>
			<div>f</div>
			<div>g</div>
		</div>
		<div class="bottom">
			<div>a</div>
			<div>b</div>
			<div>c</div>
			<div>d</div>
			<div>e</div>
			<div>f</div>
			<div>g</div>
		</div>
		<div class="left">
			<div>1</div>
			<div>2</div>
			<div>3</div>
			<div>4</div>
		</div>
		<div class="right">
			<div>1</div>
			<div>2</div>
			<div>3</div>
			<div>4</div>
		</div>
	</div>

	<div class="map-wrapper"></div>	
</div>